.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.surname{
    color: blue;
    font-family: Snell Roundhand, cursive;
}
.name{
    color: burlywood;
    font-family: Snell Roundhand, cursive;
}