body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mainImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.SignUpMenu {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}

.SignUpMenu h2 {
    margin-top: 0;
}

.SignUpMenu label {
    display: block;
    margin-top: 10px;
}

.SignUpMenu input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.SignUpMenu button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.SignUpMenu button:hover {
    background-color: #4cae4c;
}

.SignUpMenu p {
    margin-top: 20px;
}

.SignUpMenu a {
    color: #5cb85c;
    text-decoration: none;
}

.SignUpMenu a:hover {
    text-decoration: underline;
}